* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #ffffff; /* or any color you want for the active state */
  font-weight: bold;
}


/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

